*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}
.sfbianco{
    background-color: #ffffff;
    padding: 20px;
}
.allinea{
 display: inline-block;
 vertical-align: middle;
}
.contenitore{
    width:50%;
    margin:auto;
    margin-top: 30px;
    background-color: #ffffff;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
}
#naviga{
    
    border-bottom: #f6f8f9 solid 2px;
    height: 70px;
}

.botzur{
    background-color: #47adf1;
    color: #f6f8f9;
    border-radius: 5px;
    border: #47adf1 solid 1px;
    height: 70px;
    width:70px;
    line-height: 70px;
    vertical-align: middle;
    margin-left: 20px;
    padding: 8px 20px 8px 20px;
}
.botpri{
    color: #c5cbd0;
    border:#c5cbd0 solid 1px;
    border-radius: 5px;
    height: 70px;
    width:70px;
    line-height: 70px;
    vertical-align: middle;
    margin-left: 20px;
    padding: 8px 20px 8px 20px;
}
.contenitore2{
    margin-left: 20px;
    padding:20px;
   /* background-color: blue;*/
}
li{
    font-weight: bold;
}
.agenda{
    list-style-type: none;
}
.sottoli{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.separa{
    margin-bottom: 20px;
}
.spunta-no{
    color: crimson;
    border:crimson 0.5px solid;
    border-radius: 50%;
    padding:3px;
}
.spunta-si{
    color: green;
    border:green 0.5px solid;
    border-radius: 50%;
    padding:3px;
}
.edi{
    background-color: #47adf1;
    color: #f6f8f9;
    border: #47adf1 solid 1px;
    border-radius: 13px;
    height: 35px;
    width:35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
}
.q1{
    background-color: #9c72e4;
    color: #f6f8f9;
    border: #9c72e4 solid 1px;
    border-radius: 13px;
    height: 35px;
    width:35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
}
.recru{
    background-color: #64c0a9;
    color: #f6f8f9;
    border: #64c0a9 solid 1px;
    border-radius: 13px;
    height: 35px;
    width:35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
}
.mob{
    background-color: #f29e33;
    color: #f6f8f9;
    border: #f29e33 solid 1px;
    border-radius: 13px;
    height: 35px;
    width:35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
}
.wsite{
    background-color: #d863a1;
    color: #f6f8f9;
    border: #d863a1 solid 1px;
    border-radius: 13px;
    height: 35px;
    width:35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
}
.sal{
    background-color: #b0c926;
    color: #f6f8f9;
    border: #b0c926 solid 1px;
    border-radius: 13px;
    height: 35px;
    width:35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
}